<h1>Héroes <small>Dc</small></h1>
<hr>
<!--*ngFor="let heroe of heroes; let i = index"implementando imput-->
<div class="row row-cols-4 row-cols-md-4 g-5 animated fadeIn">
          <!--aqui para invocar el evento lo incluyo similiar al evento (clic) solo que ahor invoco heroSelec-->
          <app-heroe-tarjeta (heroeSelec)="verHeroe($event)"[heroe]=heroe [flecha]="i" *ngFor="let heroe of heroes; let i = index">
            <div class="col">
              <div class="card">
              </div>
            </div>      
          </app-heroe-tarjeta>
      
    <!--<a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver mas link</a>-->
  
</div>   